* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container {
  position: relative;
}

.img1 {
  position: relative;
}

.container-logo {
  position: absolute;
  top: 0;
  width: 40vw;
  /* background-color: #b8b8b8; */
  text-align: center;

  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  margin-top: 15rem;
}

.logo {
  filter: drop-shadow(2px 4px 6px black);
  height: 70px;
}

.right-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.header {
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.this {
  width: 80rem;
}

.margin {
  margin-left: 4rem;
  font-size: 2.4rem;
  font-weight: bolder;
}

.marbo {
  margin-bottom: 1.2rem;
}

h1 {
  margin: 2rem 0 1.5rem 4rem;
  font-size: 2.4rem;
}

form {
  display: grid;
  grid-template-columns: fit-content(30rem) fit-content(30rem);
  margin-left: 4rem;
  row-gap: 3rem;
  column-gap: 4rem;
  font-family: inherit;
  margin-bottom: 3rem;
}

form input {
  width: 30rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
}

.border-bottom {
  border-bottom: 2px solid #f1f3f5;
}

/* .input-container {
  width: 30rem;
} */

label {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
}

.create-account {
  background-color: #f8f9fa;
}

button {
  margin: 3rem 0 2rem 4rem;
  padding: 1.5rem 6rem;
  border-radius: 9px;
  font-size: 1.6rem;
  font-weight: bolder;
  background-color: #37b24d;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #20c997;
}

.create-account p {
  margin-left: 4rem;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: blue;
}

.dpnone {
  display: none;
  color: red;
  font-size: 1.6rem;
  font-weight: 600;
}
